{% extends 'base.html' %}

{% block content %}
  <h1 class="page-header">
    <a href="{% url 'deploy:site-create' %}" class="btn btn-default pull-right"><i class="fa fa-fw fa-plus"></i> Site</a>
    Sites
  </h1>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th class="col-lg-5">Group</td>
      <th class="col-lg-5">Address</th>
      <th class="col-lg-2">Status</th>
      <th/>
    </tr>
    <tbody]>
      {% for object in object_list %}
        <tr>
          <td>{{ object.name }}</td>
          <td>{{ object.get_full_address_br|safe }}</td>
          <td>{{ object.get_status_display }}</td>
          <td><a href="{% url 'deploy:site-detail' object.id %}" class="btn btn-primary"><i class="fa fa-angle-double-right"></i></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
