{% extends "base.html" %}

{% block content %}
    <div class="span5"></div>
    <div id="login" class="s">
        <div class="container">
            <div class="alert alert-success"><strong>Password changed!</strong> Thanks for changing your password!  Click <a href="{% url 'index' %}">here</a> to go home!</div>
        </div>
    </div>
    <div class="span5"></div>
    <script>$('#id_old_password').focus();</script>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script>
        setTimeout(function() {
            window.location.href = '{% url 'index' %}';
        }, 3000);
    </script>
{% endblock javascript %}
